<p id="notice"><%= notice %></p>

<p>
  <strong>Alt text:</strong>
  <%= @banner.alt_text %>
</p>

<p>
  <strong>Image:</strong>
  <%= @banner.image %>
</p>

<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
